*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #17181c;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  height: 100%;
}

header {
  padding: 0.6rem 2rem;
}

header h1 {
  font-size: 2.4rem;
  font-weight: 800;
  text-align: center;
}

footer {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a {
  margin: 0.6rem;
}
footer .copyright {
  font-size: 1rem;
  color: #fff;
  text-align: center;
}
footer .copyright a {
  color: rgb(245, 234, 234);
}
footer .copyright a:hover {
  color: #fff;
}
footer .copyright:before {
  content: "©";
}

.form__wrapper {
  margin: 0 auto;
  max-width: 992px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 20px 50px 2px rgba(26, 26, 26, 0.1);
  text-align: center;
}

.form__exchange-box__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.currency__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 20px;
}

.form__currency__ratio-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  visibility: hidden;
  padding: 0 1.2rem;
  color: #333;
}

.form__currency__text {
  width: 370px;
}

.form__currency__block {
  display: flex;
  align-items: center;
  width: 370px;
  background-color: white;
  border: 1px solid #333;
  border-radius: 5px;
}

.form__input {
  width: 50%;
  padding: 0.3rem;
  border-width: 0 2px 0 0;
  background-color: transparent;
  font-size: 1rem;
  color: #333;
}

.form__select {
  width: 50%;
  padding: 0.3rem;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: #333;
}

.form__tittle {
  padding-top: 1rem;
  color: #1a1a1a;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Roboto";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
}

.form__error-message {
  display: block;
  margin: 0 auto;
  visibility: hidden;
  color: red;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
}

@media (max-width: 992px) {
  .form__wrapper {
    margin: 0 0.5rem;
  }
  .currency__wrapper {
    flex-direction: column;
    gap: 1rem;
  }

  .form__currency__ratio-wrapper {
    flex-direction: column;
    height: 4rem;
  }

  .form__currency__text {
    width: auto;
    max-width: 370px;
  }

  .form__exchange-box__wrapper {
    align-items: center;
  }

  .form__currency__block {
    width: auto;
    max-width: 370px;
  }
}
